body
{
}

.alert-danger
{
    color: red;
}

.alert-success
{
    color: blue;
}
/*Set search filter button at right side (align to search button) */
.top_search
{
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;
}

.alignleft
{
    text-align: left;
}

.editcolumn
{
    height: 15px;
    width: 15px;
}

.tdPadding
{
    padding: 5px !important;
}

.wide
{
    width: 250px !important;
}

.grid tr:nth-child(odd)
{
    background: #FFF;
}

.grid tr:nth-child(even)
{
    background: #ddf6f1;
}

.numberwidth
{
    width: 30px;
}

/* POPUP */
.web_dialog_overlay
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .15;
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: none;
}

.web_dialog
{
    display: none;
    position: absolute;
    width: 380px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -100px;
    background-color: #ffffff;
    border: 2px solid #2B2E34;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
}

.web_dialog_title
{
    border-bottom: solid 2px #2B2E34;
    background-color: #2B2E34;
    padding: 4px;
    color: White;
    font-weight: bold;
}

    .web_dialog_title a
    {
        color: White;
        text-decoration: none;
    }

.align_right
{
    text-align: right;
}
.PopupTable
{
    width: 100%; 
    border: 0px;    
}
.PopupTable td, .PopupTable th {   
    padding: 4px;
}
.leftpad
{
    padding-left: 15px;
}
/* END POPUP */
.hide
{
    display: none;
}
.cityheadtable
{
    width: 100%;
}
.Hyperlink a:link
    {
        text-decoration: none;
    }

    .Hyperlink a:visited
    {
        text-decoration: none;
    }

    .Hyperlink a:hover
    {
        text-decoration: none;
    }

    .Hyperlink a:active
    {
        text-decoration: none;
    }

.disabled
{
     pointer-events: none;
   cursor: default;
}
.datecolwidth 
{
    width:175px !important;
    text-align:left !important;
}
