body {height:100%; min-height:100%; background:#FFF; margin:0; padding:0; font-size:14px; font-family: 'itc_gothic_Bk', "Trebuchet MS", Arial; color: #000;}
html {height:100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

@font-face {
    font-family: 'itc_gothic_Bk';
    src: url('../fonts/itc_avant_garde_gothic_std_book-webfont.eot');
    src: url('../fonts/itc_avant_garde_gothic_std_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itc_avant_garde_gothic_std_book-webfont.woff') format('woff'),
         url('../fonts/itc_avant_garde_gothic_std_book-webfont.ttf') format('truetype'),
         url('../fonts/itc_avant_garde_gothic_std_book-webfont.svg#itc_avant_garde_gothic_stdBk') format('svg');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'itc_gothic_Md';
    src: url('../fonts/itc_avant_garde_gothic_std_medium-webfont.eot');
    src: url('../fonts/itc_avant_garde_gothic_std_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itc_avant_garde_gothic_std_medium-webfont.woff') format('woff'),
         url('../fonts/itc_avant_garde_gothic_std_medium-webfont.ttf') format('truetype'),
         url('../fonts/itc_avant_garde_gothic_std_medium-webfont.svg#itc_avant_garde_gothic_stdMd') format('svg');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'itc_gothic_Bl';
    src: url('../fonts/itc_avant_garde_gothic_demi-webfont.eot');
    src: url('../fonts/itc_avant_garde_gothic_demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itc_avant_garde_gothic_demi-webfont.woff') format('woff'),
         url('../fonts/itc_avant_garde_gothic_demi-webfont.ttf') format('truetype'),
         url('../fonts/itc_avant_garde_gothic_demi-webfont.svg#itc_avant_garde_gothic_demiRg') format('svg');
    font-weight: normal;    font-style: normal;
}

/* * * * * *  html 5 fix  * * * * * */
section, article, header, footer, nav, aside, hgroup, details, figure { display: block; }


/* * * * * *  General  * * * * * * */
table { border-collapse:collapse; border-spacing: 0; border:0;  /******  cellspacing="0"  ******/}   
/*cellspacing for table { border-collapse:separate; border-spacing: 5px; } // cellspacing="5"    align (center) =  table { margin: 0 auto; }*/    
th, td { padding:0px; }
a{ color:#000; text-decoration:none; outline:none;}
a:hover{ color:#000; text-decoration:underline;}
a:focus{ background:none;}
img{ border: none;}
h1, h2, h3, h4, h5, h6, ul, li, p{ margin:0; padding:0;}
ul, li{ list-style:none; list-style-type:none;}
.clear{ clear:both; padding:0; margin:0; height:0;}
.clr{ clear:both;}

input[type=text], input[type=password]{ border:#ddd 1px solid; padding:5px; margin:0; outline:none; font-size:13px; font-family: 'itc_gothic_Bk', "Trebuchet MS", Arial; color:#333;  }
textarea { border:#ddd 1px solid; padding:5px; margin:0; outline:none; font-size:13px; font-family: 'itc_gothic_Bk', "Trebuchet MS", Arial; color:#333; }
select { border:#ddd 1px solid; margin:0; padding:4px; outline:none; font-size:13px; font-family: 'itc_gothic_Bk', "Trebuchet MS", Arial; color:#333; }
.inputbutton { background:#2b2e34; border:none; height:30px; padding:0 17px; cursor:pointer; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial; font-size:14px; color:#FFF; vertical-align:middle; overflow:visible; }
.inputbutton:hover{ background:#02e2b7; color:#000;}
input[type=checkbox], input[type=radio]{ vertical-align:-2px;}
a.linkbtn{background:#2b2e34; text-decoration:none; height:24px; display:inline-block; padding:6px 17px 0 17px; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial; font-size:14px; color:#FFF;}
a.linkbtn:hover{ background:#02e2b7; color:#000;}


/* * * * * *  Header  * * * * * */
#header{ background:#2b2e34; height:76px; color:#FFF; width:100%;}
.logo{ float:left; height:76px;}
ul.navigation li{ border-bottom:1px solid #686b6f;}
ul.navigation li a{font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial; display:block; color:#FFF; font-size:18px; padding:15px; font-weight:normal; text-decoration:none;}
ul.navigation li a:hover, ul.navigation li.active a{ background:#02e2b7;}
#header ul{ float:right;}
#header ul li{ float:left;}
#header ul li a{ display:block; height:53px; color:#FFF; padding:23px 20px 0 20px; font-size:18px; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial;font-weight:normal; text-decoration:none;}
#header li a:hover, #header li.active a{ color:#02e2b7;}



/* * * * * *  Content  * * * * * */
#content{ padding:15px 15px 0 15px; }
.greybg{ background:#c3c3c3; padding:15px; margin-bottom:15px;}
.nopad{ padding:0 !important;}
.top_search{border-collapse:separate; border-spacing: 15px;}
.top_search table{border-collapse:collapse; border-spacing: 0 !important;}
.alignright{ text-align:right;}
.firstlabel{width:100px; text-align:right;}
.textlabel{font-family: 'itc_gothic_Md', "Trebuchet MS", Arial;  padding-right:8px;}
.maintitle{ border-bottom:1px solid #ddd; position:relative; padding-bottom:10px; margin-bottom:20px;}
h1{ margin:0; padding:0; line-height:1;  font-family: 'itc_gothic_Bk', "Trebuchet MS", Arial;  font-weight:normal; font-size:30px;}
.right_search{ position:absolute; top:0; right:0;}
.floatleft{ float:left;}
.floatright{ float:right;}
.lp{ padding-left:8px;}
.grid_pad{ padding:15px 0 10px 0;}
.grid{ width:100%;}
.grid td, .grid th{border-collapse:collapse; border:1px solid #8d9190; padding:9px;}
.grid th{ background:#979ea4; text-align:center; font-weight:normal; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial;}
.grid td{ font-size:13px;}
/*.grid .tr1{ background:#FFF;}
.grid .tr2{ background:#ddf6f1;}*/
.aligncenter{ text-align:center;}
.grid_pager{ text-align:right;}
.grid_pager span{font-family: 'itc_gothic_Md', "Trebuchet MS", Arial;}
.grid_pager a{ width:26px; height:26px; vertical-align:-7px; display:inline-block; margin-left:8px;}


#loginarea{ width:400px; margin:0 auto;}
.loginheader{  background:#2b2e34; height:76px; color:#FFF; padding-left:6px;}
.topspac{ height:100px;}
.logincontent{ padding:6px; background:#a6aaa9;}
.logincontent table{border-collapse:separate; border-spacing: 15px;}
.logincontent .textlabel{ padding:0 0 0 30px; text-align:right; }
.logincontent input[type=text], .logincontent input[type=password]{ width:210px;}
.logintitle{ font-size:18px; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial;font-weight:normal; text-transform:uppercase;}
a.link_fp{background:#000; text-decoration:none; height:18px; margin-top:15px; display:inline-block; padding:4px 12px 0 12px; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial; font-size:11px; color:#02e2b7;}
a.link_fp:hover{ background:#02e2b7;  color:#000;}

ul.city_view li{ float:left; text-align:center; border-left:1px solid #def6f1; padding:0 20px; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial;font-weight:normal; font-size:16px;}
ul.city_view >:first-child{ border:none;}
h2{ font-size:23px; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial;font-weight:normal; line-height:1; padding:0 0 10px 0;}
h3{ font-size:20px; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial;font-weight:normal; line-height:1; padding:0 0 5px 0;}
.city_dropdown{ padding:10px 0 0 18px;}
.cv{border-collapse:separate; border-spacing: 15px; width:100%;}
.cv td{ vertical-align:top;}
.cv_box{ background:#979ea4; padding:20px;}
.promot{ overflow:hidden; margin-bottom:10px;}
.promolist{ margin:0px -8px !important;}
.promolist li{ float:left; margin:0 8px 15px 8px; width:170px; height:190px;}
.promolist img{ display:block;}
.promolist a.btn{ height:25px; padding:5px 0 0 0; display:block; text-align:center; background:#642827; color:#FFF; margin-top:4px; text-decoration:none;}
.promolist a.btn:hover{ background:#853231;}
.user_title{ padding-left:12px;}
.user_title h5{ font-size:18px; font-weight:normal;}
.user_right{ padding:7px 0 0 0; margin-right:-15px;}


.TabbedPanels { margin: 0px; padding: 0px; float: left; clear: none; width: 100%; }
.TabbedPanelsTabGroup { margin: 0px; padding: 0px; }
.TabbedPanelsTab { position: relative; top: 1px; float: left; padding:0; margin: 0px 1px 0px 0px; list-style: none; -moz-user-select: none; -khtml-user-select: none; cursor: pointer; }
.TabbedPanelsContentGroup { clear: both; }
.TabbedPanelsContent { padding:20px 0 0 0; }
.TabbedPanelsTab a { color:#FFF; margin-right:8px; padding:11px 20px 0px 20px; height:26px; display:block; text-decoration:none; cursor:pointer; background:#2b2e34; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial;font-weight:normal; font-size:15px; line-height:1; }
.TabbedPanelsTabSelected a { background:#545b63; color:#FFF; }
.TabbedPanelsContent table{ width:100%;}
.TabbedPanelsContent td{ vertical-align:top;}
.wth_49{ width:49%;}
.grid_2{ width:100%; background:#FFF;}
.grid_2 td, .grid_2 th{border-collapse:collapse; border:1px solid #000; padding:6px 10px; font-size:16px; }
.grid_2 th{ background:#545b63; color:#FFF; text-align:left; font-weight:normal; font-size:18px; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial;}
.grid td{ font-size:13px;}
.bg_left{ background:#979ea4; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial;}

.popup{ width:750px; border:3px solid #000; background:#979ea4; padding:20px; margin:0 auto;}
.popup table{ width:100%;}
.popup table td{ vertical-align:top;}
.big_img{ width:376px;}
.big_img img{ display:block;}
.whbg{ background:#FFF;}
.pop_content{ padding:10px; height:316px; overflow:auto; overflow-x:hidden;}
.pop_content table{ width:auto;}
.pop_content .user_title h5{font-weight:normal; font-size:18px; font-family: 'itc_gothic_Bl', "Trebuchet MS", Arial; color:#000;}
.pop_content .user_title{ color:#666;}
.text_promo{ position:relative;}
.text_promo span{ position:absolute; top:0; right:0; font-size:13px; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial;}
.pop_content p{ color:#000; padding:0 0 13px 0;}
.bot_btn{ height:36px; padding-top:5px;}
.bot_btn ul{ float:right;}
.bot_btn ul li{ float:left; padding:0 0 0 5px; position:relative;}

a.linkbtn_revert{background:#02e2b7; text-decoration:none; height:24px; display:inline-block; padding:6px 17px 0 17px; font-family: 'itc_gothic_Md', "Trebuchet MS", Arial; font-size:14px; color:#000;}
a.linkbtn_revert:hover{ background:#2b2e34; color:#FFF;}






