<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="RudderEntities" connectionString="metadata=res://*/MakeMoves.csdl|res://*/MakeMoves.ssdl|res://*/MakeMoves.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=192.168.0.7\sql2008r2;initial catalog=MakeMoves;persist security info=True;user id=kalpesh;pwd=kalpesh;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SuperBabyEntities" connectionString="metadata=res://*/Super_BabyEF.csdl|res://*/Super_BabyEF.ssdl|res://*/Super_BabyEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7\sql2008r2;initial catalog=SuperBaby;persist security info=True;user id=kalpesh;password=kalpesh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>